<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text center">
                <div class="card-header text-center">
                    <h3>¡Regístrate como alumno!</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <img src="img/Alumno.png" alt="Alumno" width="250px" height="250px">
                        <form action="/registro" method="POST">
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="email" name="mail" placeholder="e-mail" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Contraseña" class="form-control">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">¡Hecho!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>